# Server Port
PORT=4000

# PostgreSQL Database Connection URL
# Định dạng: postgres://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=postgres://rolldoor_user:MatKhauCuaBan@localhost:5432/rolldingdoor_service2
USE_SSL=false

# JWT Secret
JWT_SECRET=aGV0aG9uZ2N1YWN1b24=

# HiveMQ Cloud MQTT Config
HIVEMQ_CLUSTER_URL=c131d19cf9b3498ab5655988b219498f.s1.eu.hivemq.cloud
HIVEMQ_PORT=8883
HIVEMQ_USERNAME=cbgbar
HIVEMQ_PASSWORD=@Van02092005

# Default Admin Account
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
